name: Java CI with Maven

# Kiedy proces ma się uruchomić? (Przy każdym wypchnięciu kodu na gałąź main)
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Pobranie kodu z repozytorium
    - uses: actions/checkout@v3

    # 2. Konfiguracja Javy (wersja 17, zgodna z naszym pom.xml)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Zbudowanie projektu i uruchomienie testów
    - name: Build with Maven
      run: mvn -B package --file pom.xml